In [1]:
print("hello world")

hello world

In [2]:
x = 2
y = 3

In [3]:
x + y

5

In [4]:
x + y
x - y

-1

In [5]:
print(x + y)
x - y

5

-1

In [6]:
mynums = [1, 2, 3, 4, 5]
mynums

[1, 2, 3, 4, 5]

In [7]:
for n in mynums:
    print(n+1)

2
3
4
5
6

In [8]:
mynums?

In [9]:
import pandas as pd

In [11]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [12]:
mynums.sort(reverse=True)

In [13]:
mynums

[5, 4, 3, 2, 1]

In [14]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [ ]:
%debug